ASPNETCORE_ENVIRONMENT=Development
API_PORT=8080
MYSQL_DATABASE=cashflow
MYSQL_USER=cashflow
MYSQL_PASSWORD=cashflow
MYSQL_ROOT_PASSWORD=root
MYSQL_PORT=3306
DATABASE_RUN_MIGRATIONS_ON_STARTUP=true
JWT_SIGNING_KEY=wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
JWT_EXPIRES_MINUTES=1000
REDIS_PORT=6379
STORAGE_PROVIDER=MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_BUCKET_EXPENSE_ATTACHMENTS=expense-attachments
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
